<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>접근거부</title>
</head>
<body>
<div class="container">
    <script th:inline="javascript">
        window.onload = function(){
            var nextPage = [[@{__${nextPage}__}]], msg = [[${msg}]];

            if(msg === "접근권한이 없는 유저입니다.") {
                alert(msg);
                location.href = history.go(-1);
            } else {
                location.href = [[@{/users/login}]];
            }
        };
    </script>
</div>
</body>
</html>
