<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <!-- CSRF 토큰을 메타 태그에 추가 -->
    <script src="/js/Js/session-timer2.js"></script>
    <link rel="stylesheet" th:href="@{/js/css/commonStyle.css}">
</head>
<body>
<div th:replace="header :: header(${user})"></div>
<main>
    <h1>새 비밀번호 입력</h1>
    <form th:action="@{/users/changePassword}" method="post">
        <input type="hidden" name="id" th:value="${id}"/>  <!-- 아이디를 숨겨서 전송 -->
        <label for="password">새 비밀번호:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <button type="submit">비밀번호 변경</button>

        <div th:if="${error}" style="color:red;">
            <p th:text="${error}"></p>
        </div>
    </form>
</main>

</body>
</html>
