<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <!-- CSRF 토큰을 메타 태그에 추가 -->
    <script src="/js/Js/session-timer2.js"></script>
    <link rel="stylesheet" th:href="@{/js/css/commonStyle.css}">
</head>
<body>
<div th:replace="header :: header(${user})"></div>

<main>
    <h1>비밀번호 찾기</h1>
    <form th:action="@{/users/findPassword}" method="post">
        <label for="id">아이디:</label>
        <input type="text" id="id" name="id" required>
        <br>

        <button type="submit">확인</button>

        <!-- 에러 메시지 출력 -->
        <div th:if="${error}" style="color:red;">
            <p th:text="${error}"></p>
        </div>
    </form>
</main>

</body>
</html>
