<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증번호 확인</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" th:href="@{/js/css/commonStyle.css}">
</head>
<body>
<div th:replace="header :: header(${user})"></div>
<main>
    <h1>인증번호 확인</h1>
    <form th:action="@{/users/verifyAuthCode}" method="post">
        <input type="hidden" name="id" th:value="${id}"/>  <!-- 아이디를 숨겨서 전송 -->
        <label for="authCode">인증번호:</label>
        <input type="text" id="authCode" name="authCode" required>
        <br>

        <button type="submit">확인</button>

        <div th:if="${error}" style="color:red;">
            <p th:text="${error}"></p>
        </div>
    </form>
</main>

</body>
</html>
